.mb-0 {
  margin-bottom: 0!important;
}

.mb-3 {
  margin-bottom: 1rem!important;
}

.mb-5 {
  margin-bottom: 3rem!important;
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.ms-auto {
  margin-left: auto!important;
}

