.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  align-items: center;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
  gap: 0px;
  grid-template: 1fr / 1fr;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

@media (max-width: 576px) {
  .button__icon-wrapper {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 576px) {
  .button__icon-svg {
    width: 100%;
    height: 100%;
  }
}

.button__icon-svg:first-child {
  width: 110%;
  height: 80%;
  display: block;
  margin: auto;
  transform: translateX(-5px);
}

.button__icon-svg--copy {
  width: 65%;
  height: 65%;
  display: block;
  margin: auto;
}

@media (min-width: 769px) and (max-width:1200px) {
  #rules-regulations-penal-code {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #rules-regulations-penal-code {
    padding-left: 50px;
    padding-right: 50px;
  }
}

