.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px 80px 20px;
}

.gallery-item img {
  border-radius: 10px;
  width: 500px;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80vh;
  margin-top: 40px;
  border-radius: 10px;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#lightbox .close:hover {
  color: #bbb;
}

@media (max-width: 578px) {
  .gallery-item img {
    width: 300px;
  }
}

