th, td {
  background-color: transparent!important;
}

@media (min-width: 1200px) {
  #rules-regulations-description th {
    font-size: 24px!important;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  #rules-regulations-description th {
    font-size: 22px!important;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  #rules-regulations-description td {
    font-size: 18px!important;
  }
}

@media (min-width: 1200px) {
  #rules-regulations-description td {
    font-size: 20px!important;
  }
}

#guide_title {
  color: #75b798!important;
}

#guide_job_title {
  color: #a2c7ff!important;
}

#guide_table_heading {
  color: #ffc107!important;
}

#table_heading_changelog {
  color: #ff1607!important;
}

