/* Social Media Section */

.state-button-section {
  text-align: center;
  padding: 50px 0;
  color: #fff;
}

.state-button-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Responsive Title */

@media (max-width: 992px) {
  .state-button-title {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .state-button-title {
    font-size: 20px;
  }
}

.state-button-boxes {
  display: flex;
  /*gap: 20px;*/
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 3vw, 4rem);
}

.state-button-box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 25px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.state-button-box i {
  font-size: 24px;
  transition: all 0.3s ease;
}

/* Hover Effect */

.state-button-box:hover {
  color: #fff;
}

.state-button-box.discord:hover {
  background: #1877f2;
}

.state-button-box.facebook:hover {
  background: #1877f2;
}

.state-button-box.youtube:hover {
  background: #ff0000;
}

