span {
  padding-left: 10px;
}

@media (min-width: 1024px) {
  .navbar {
    /*font-size: 20px;*/
    padding: 20px;
    transition: all 0.3s ease;
  }
}

@media (min-width: 1024px) {
  .navbar-brand-name {
    padding-left: 20px;
    transition: all 0.3s ease;
  }
}

.nav-item a:hover {
  color: black!important;
  transition: all 0.5s ease;
  background-color: white;
}

.nav-item a {
  border-radius: 20px;
}

@media (max-width: 499px) {
  .navbar-brand-name {
    display: none;
  }
}

@media (max-width: 425px) {
  #rules-regulations-table {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #rules-regulations-table {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #rules-regulations-table {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 992px) {
  #rules-regulations-table td {
    width: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #rules-regulations-table td {
    width: 40px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  #rules-regulations-table td {
    width: 20px;
  }
}

@media (min-width: 425px) and (max-width: 649px) {
  #rules-regulations-table td {
    width: 10px;
  }
}

@media (max-width: 425px) {
  #license-table {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #license-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #license-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #license-table {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #license-table {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 768px) {
  #license-table td:first-child {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #license-table td:first-child {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 425px) {
  #designation-table {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #designation-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #designation-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #designation-table {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #designation-table {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 425px) {
  #atc-calls-table {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #atc-calls-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #atc-calls-table {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #atc-calls-table {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #atc-calls-table {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 425px) {
  #rules-regulations-description {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-description {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-description {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #rules-regulations-description {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #rules-regulations-description {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 992px) {
  #rules-regulations-description td {
    width: 80px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #rules-regulations-description td {
    width: 40px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  #rules-regulations-description td {
    width: 20px;
  }
}

@media (min-width: 425px) and (max-width: 649px) {
  #rules-regulations-description td {
    width: 10px;
  }
}

@media (max-width: 425px) {
  #rules-regulations-penal-code {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-penal-code {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #rules-regulations-penal-code {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 769px) and (max-width:1200px) {
  #rules-regulations-penal-code {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1201px) {
  #rules-regulations-penal-code {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 500px) {
  .navbar-brand-name-2 {
    display: none;
  }
}

